*{
    padding: 0;
    margin: 0;
}

:root{
    --red: #FA594B;
    --line: rgb(230, 230, 230);
    --title: #1a202c;
}

body {
    background-color: #fdf6ed;
    font-family: 'Poppins', sans-serif;
}

.containerTop {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.container {
    background-color: #fff;
    width: 320px;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: auto;
    text-align: center;
    padding: 15px;
    border: 2px solid var(--red);
    border-radius: 30px;
}

.container > h1{
    font-size: 33px;
    color: var(--title);
}

input:focus { 
    outline: none !important;
    border-color: var(--red);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.insert{
    text-align: center;
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid var(--line);
    border-radius: 10px;
    font-size: 20px;
}

#bora{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

.calc{
    background: var(--red);
    color: #fff;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.peoples{
    margin-top: 100px;
    margin-left: 30px;
    width: 90%;
}

.peoples img {
    width: 90%;
}

.resultado{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: grid;
    grid-template-columns: 0.8fr 3fr;    
}

.icons{
    width: 50px;
    margin-bottom: 10px;
}

.resultado h2{
    font-size: 17px;  
}

.child{
    position: relative;
    top: 80%;
    transform: translateY(-50%);
}

@media screen and (max-width:768px){

    .containerTop {
        display: block;
    }

    .container {
        margin-top: 40px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .container > h1{
        font-size: 64px;
    }
    
    .insert{
        padding: 15px;
        font-size: 30px;
    }

    .calc{
        padding: 15px;
        font-size: 40px;
    }

    #bora{
        width: 80%;
        font-size: 32px;
    }

    .icons{
        width: 70px;
        margin-bottom: 10px;
    }

    .resultado{
        margin-left: 70px;
    }
    
    .resultado h2{
        font-size: 28px;  
    }

    .peoples{        
        width: 90%;
        margin-top: 30px;
        margin-left: auto;
    }
}

@media screen and (max-width:426px){
    
    .container {
        width: 80%;
    } 
    .container > h1{
        font-size: 30px;
    }

    .insert{
        padding: 8px;
        font-size: 20px;
    }

    .calc{
        font-size: 28px;
        font-weight: 500;
    }

    #bora{
        width: 90%;
        font-size: 18px;
    }

    .icons{
        width: 40px;
        margin-bottom: 10px;
    }
    
    .resultado{
        margin-left: auto;
    }  

    .resultado h2{
        font-size: 17px;  
    }     

    .peoples{        
        width: 90%;
        margin-top: 30px;
    }
}

@media screen and (max-width:376px){
    
    .container > h1{
        font-size: 28px;
    }

    .insert{
        font-size: 16px;
    }

    .resultado h2{
        font-size: 16px;  
    }    
}

@media screen and (max-width:321px){
    
    .resultado h2{
        font-size: 14px;  
    }    
}